@charset "UTF-8";
/*===== RESET =====*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*===== Подключение шрифтов =====*/
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaProBla.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaProBol.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaProMed.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaProLig.otf") format("opentype");
  font-weight: 300;
}

.page {
  background-color: #fff;
}

.wrapper {
  max-width: 1920px;
  height: 1073px;
  margin: 0 auto;
  background: #fff url("../img/background_9.png") center center no-repeat;
}

.container {
  max-width: 1308px;
  margin: 0 auto;
}

/*===== HEADER =====*/
.header {
  padding-top: 15px;
}

.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo {
  margin-right: 12px;
}

.logo__title h2 {
  font-family: GothamPro;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.4em;
  color: #000000;
}

.logo__title span {
  font-family: GothamPro;
  font-size: 23px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.45em;
  color: #000000;
}

.header__btn {
  width: 218px;
  height: 50px;
  background-color: #eff8ff;
  background-image: -webkit-linear-gradient(355deg, #34a149 0%, #61cd88 99%);
  background-image: -o-linear-gradient(355deg, #34a149 0%, #61cd88 99%);
  background-image: linear-gradient(95deg, #34a149 0%, #61cd88 99%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.header__btn span {
  font-family: GothamPro;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  color: #eff8ff;
}

.header__btn:active {
  border: 2px solid #195c26;
}

.header__btn:active, .header__btn:hover {
  background-image: -webkit-linear-gradient(355deg, #157428 0%, #61cd88 99%);
  background-image: -o-linear-gradient(355deg, #157428 0%, #61cd88 99%);
  background-image: linear-gradient(95deg, #157428 0%, #61cd88 99%);
}

.header__nav {
  max-width: 610px;
  margin: 26px auto 71px;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list li {
  list-style-type: none;
}

.nav__list-item {
  text-decoration: none;
  font-family: GothamPro;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #242623;
  position: relative;
}

.nav__list-item:hover {
  color: #75b060;
}

.nav__list-item:hover::before {
  position: absolute;
  content: "";
  width: 200%;
  height: 3px;
  background-color: #75b060;
  bottom: -18px;
  left: -50%;
}

/*===== CONTENT =====*/
.content__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-play {
  position: relative;
}

.btn-bg {
  width: 309px;
  height: 61px;
  background-image: url("../img/btn_play_1.png");
  -webkit-background-size: cover;
          background-size: cover;
  cursor: pointer;
  outline: none;
}

.btn-bg span {
  font-family: GothamPro;
  font-size: 19px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-left: 32%;
}

.btn-bg:hover {
  opacity: 0.8;
}

.btn-play-img {
  position: absolute;
  bottom: -30%;
  left: 0;
}
