/*===== RESET =====*/
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

// * {
// 	outline: 1px solid red;
// }

img {
	max-width: 100%;
	display: block;
}

/*===== Подключение шрифтов =====*/
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothaProBla.otf") format("opentype");
	font-weight: 900;
}

@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothaProBol.otf") format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothaProMed.otf") format("opentype");
	font-weight: 500;
}

@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothaProLig.otf") format("opentype");
	font-weight: 300;
}

.page {
	background-color: #fff;
}

.wrapper {
	max-width: 1920px;
	min-height: 1073px;
	margin: 0 auto;
	background: #fff url("../img/background_9.png") center center no-repeat;
	background-size: cover;
}

.container {
	max-width: 1308px;
	margin: 0 auto;
}

/*===== HEADER =====*/
.header {
	padding-top: 15px;
	&__top {
		display: flex;
		justify-content: space-between;
	}
}

.logo__wrap {
	display: flex;
	justify-content: flex-start;
}

.logo {
	margin-right: 12px;
}

.logo__title {
	h2 {
		font-family: GothamPro;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: 0.4em;
		color: #000000;
	}

	span {
		font-family: GothamPro;
		font-size: 23px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.45em;
		color: #000000;
	}
}

.header__btn {
	width: 218px;
	height: 50px;
	background-color: #eff8ff;
	background-image: linear-gradient(95deg, #34a149 0%, #61cd88 99%);
	border-radius: 10px;
	cursor: pointer;
	outline: none;

	span {
		font-family: GothamPro;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 700;
		color: #eff8ff;
	}

	&:active {
		border: 2px solid #195c26;
	}

	&:active,
	&:hover {
		background-image: linear-gradient(95deg, #157428 0%, #61cd88 99%);
	}
}

.header__nav {
	max-width: 610px;
	margin: 20px auto 61px;
}

.nav__list {
	display: flex;
	justify-content: space-between;

	li {
		list-style-type: none;
	}

	&-item {
		text-decoration: none;
		font-family: GothamPro;
		font-size: 11px;
		line-height: 1.2;
		font-weight: 500;
		letter-spacing: -0.01em;
		color: #242623;
		position: relative;

		&:hover {
			&::before {
				position: absolute;
				content: "";
				width: 200%;
				height: 3px;
				background-color: #75b060;
				bottom: -18px;
				left: -50%;
			}
			color: #75b060;
		}
	}
}

/*===== CONTENT =====*/
.content__wrap {
	display: flex;
	justify-content: space-between;
}

.btn-play {
	position: relative;
	margin-bottom: 58px;
}
.btn-bg {
	width: 309px;
	height: 61px;
	background-image: url("../img/btn_play_1.png");
	background-size: cover;
	cursor: pointer;
	outline: none;

	span {
		font-family: GothamPro;
		font-size: 19px;
		line-height: 1.2;
		font-weight: 500;
		letter-spacing: 0.05em;
		color: #ffffff;

		padding-left: 32%;
	}
	&:hover {
		opacity: 0.8;
	}
}

.btn-play-img {
	position: absolute;
	bottom: -30%;
	left: 0;
}

.donate__form {
	width: 309px;
	height: 354px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 40px;

	input {
		padding-left: 50px;
		position: relative;
		margin: 0 32px 21px;
		width: 243px;
		height: 51px;
		background-color: #f3f3f3;
		outline: none;
		z-index: 1;

		&:active,
		&:hover {
			border: 1px solid #157428;
		}
	}
}

.log-wrap {
	position: relative;
	&::before {
		content: url("../img/log_img.png");
		width: 17px;
		height: 19px;

		position: absolute;
		top: 20%;
		left: 51px;
		z-index: 2;
	}
}

.sum-wrap {
	position: relative;
	&::before {
		content: url("../img/sum_img.png");
		width: 17px;
		height: 19px;

		position: absolute;
		top: 20%;
		left: 51px;
		z-index: 2;
	}
}

.form__title {
	padding-top: 32px;
	margin-bottom: 35px;
	font-family: GothamPro;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 900;
	color: #000000;
	text-align: center;
}

.form__btn {
	width: 171px;
	height: 51px;
	background-color: #f3f3f3;
	background-image: linear-gradient(73deg, #fc9c1d 1%, #fdca36 98%);
	border-radius: 10px;
	margin-left: 25%;
	cursor: pointer;
	outline: none;

	span {
		font-family: GothamPro;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 300;
		color: #ffffff;
	}
	&:active {
		border: 2px solid #dd8006;
		border-radius: 10px;
	}
	&:hover {
		background-image: linear-gradient(73deg, #dd8006 1%, #fdca36 98%);
	}
}

.monitoring {
	width: 307px;
	height: 257px;
	background-color: #ffffff;
	border-radius: 10px;
}

.monitoring__title {
	padding-top: 33px;
	text-align: center;
	margin-bottom: 30px;
	h2 {
		font-family: GothamPro;
		font-size: 22px;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #000000;
	}
}

.server-wrap {
	max-width: 253px;
	margin: 0 auto 20px;
	display: flex;
	justify-content: space-between;
}

.server-info {
	h2 {
		font-family: GothamPro;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 500;
		letter-spacing: 0.01em;
		color: #000000;
		margin-bottom: 17px;
	}

	.server-info-stats {
		position: relative;
		padding-left: 28px;
		font-family: GothamPro;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #1ac270;

		&:before {
			content: url("../img/serv_img.png");
			position: absolute;
			left: -3%;
			top: 0;
		}

		span {
			color: #9e8b90;
		}
	}
}

.server-btn {
	width: 34px;
	height: 34px;
	background-color: #828990;
	background-image: linear-gradient(95deg, #34a149 2%, #61cd88 97%);
	border-radius: 12px;

	position: relative;
	cursor: pointer;
	align-self: center;

	span {
		font-family: GothamPro;
		font-size: 35px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.01em;
		color: #ffffff;

		position: absolute;
		left: 15%;
		top: -13%;
	}

	&:hover {
		background-image: linear-gradient(95deg, #29883c 2%, #61cd88 97%);
	}
}

/*===== MAIN =====*/
.slider-wrap {
	// max-width: 951px;
	// max-height: 336px;
	background-color: #ffffff;
	border-radius: 10px;
}

// .slider-item {
// 	background-size: cover;
// 	max-width: 951px;
// }
.slider {
	position: relative;
}

.slider-dots {
	position: absolute;
	left: 70%;
	bottom: 15%;
	width: 40%;
	margin: 0 auto;

	display: flex;
	justify-content: center;
}

.slider-dots .dot {
	cursor: pointer;
	height: 16px;
	width: 16px;
	margin: 0 10px;
	background-color: #d9d9d9;
	border-radius: 50%;
	display: inline-block;

	transition: background-color 0.6s ease;
}

.slider-dots .dot-active {
	background-image: linear-gradient(95deg, #34a149 0%, #61cd88 100%);
}

.slider-item {
	width: 951px;
	height: 336px;
	// height: 336px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.swipe {
	animation-name: swipe;
	animation-duration: 1.5s;
}

@keyframes swipe {
	from {
		opacity: 0.6;
	}
	to {
		opacity: 1;
	}
}

.slider-content {
	position: absolute;
	top: 10%;
	right: 3%;
	max-width: 344px;

	h2 {
		margin-bottom: 44px;
		font-family: GothamPro;
		font-size: 22px;
		line-height: 1.2;
		font-weight: 900;
		color: #000000;
	}

	p {
		font-family: GothamPro;
		font-size: 14px;
		line-height: 30px;
		font-weight: 700;
		color: #463939;
	}
}

.slider-btn {
	margin-top: 30px;
	width: 176px;
	height: 47px;
	background-color: #eff8ff;
	background-image: linear-gradient(95deg, #34a149 0%, #61cd88 99%);
	border-radius: 10px;
	outline: none;

	&:active {
		border: 2px solid #167c2b;
	}

	&:hover {
		background-image: linear-gradient(95deg, #167c2b 0%, #61cd88 99%);
	}

	span {
		font-family: GothamPro;
		font-size: 12px;
		line-height: 30px;
		font-weight: 700;
		color: #ffffff;
	}
}

.news {
	margin: 59px 0 29px;
}

.news-wrap {
	max-width: 951px;
	display: flex;
	justify-content: space-between;
}

.news-title {
	margin-bottom: 25px;
	h2 {
		font-family: GothamPro;
		font-size: 30px;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: -0.01em;
		color: #000000;
	}
}

.news-item {
	overflow: hidden;
	position: relative;
	max-width: 225px;
	height: 223px;
	background-color: #9e8b90;
	border-radius: 10px;
	&:hover {
		opacity: 0.6;
	}
}
.item-img {
	overflow: hidden;

	img {
		object-fit: cover;
		width: 115%;
		height: 115%;
	}
}

.news-item-info {
	position: absolute;
	left: 13%;
	top: 83%;
	z-index: 3;
	span {
		font-family: GothamPro;
		font-size: 17px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.01em;
		color: #ffffff;
	}
}

.news-item-blur {
	background-image: radial-gradient(ellipse, #000 15%, rgba(255, 255, 255, 0.1) 60%);
	width: 853px;
	height: 443px;

	position: absolute;
	left: -140%;
	top: 12%;
	z-index: 2;
}

.half {
	width: 112px;
	overflow: hidden;
	z-index: 1;
}

.news-item-blur-bottom {
	background-image: radial-gradient(ellipse, #000 15%, rgba(255, 255, 255, 0.1) 60%);
	width: 426px;
	height: 222px;

	position: absolute;
	left: -150px;
	top: 105px;
	z-index: 2;
}

.news-item-blur-right {
	background: rgb(234, 233, 238);
	background: linear-gradient(
		90deg,
		rgba(234, 233, 238, 0.31416316526610644) 0%,
		rgba(253, 253, 255, 1) 32%,
		rgba(247, 247, 247, 1) 100%
	);
	width: 426px;
	height: 222px;

	position: absolute;
	left: -20%;
	top: 10%;
	z-index: 4;
}

.news-btn {
	margin-top: 47px;
	margin-left: 40%;
	width: 218px;
	height: 50px;
	background-color: #eff8ff;
	background-image: linear-gradient(95deg, #34a149 0%, #61cd88 99%);
	border-radius: 10px;
	outline: none;

	&:active {
		border: 2px solid #1c7a2f;
	}

	&:hover {
		background-image: linear-gradient(95deg, #1c7a2f 0%, #61cd88 99%);
	}

	span {
		font-family: GothamPro;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 700;
		color: #eff8ff;
	}
}

@media (max-width: 1280px) {
	.news-wrap {
		flex-wrap: wrap;
	}

	.news-item {
		margin: 10px;
	}

	.news-btn {
		margin-left: 35%;
	}

	.donate__form {
		margin: 0 auto 40px;
	}

	.monitoring {
		margin: 0 auto 20px;
	}

	.news-title {
		text-align: center;
	}

	.slider-item {
		max-width: 100%;
	}

	.slider-dots {
		left: 30%;
		bottom: 3%;
		width: 40%;
	}
}

@media (max-width: 1260px) {
	.content__wrap {
		flex-direction: column;
	}
	.btn-play {
		margin: 58px auto;
		margin-left: 35%;
	}
}

@media (max-width: 670px) {
	.header__nav {
		max-width: 610px;
		margin: 20px 20px 61px;
	}
	.btn-play {
		margin: 58px auto;
		margin-left: 25%;
	}
}
