/*Basic reset*/

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

// * {
// 	outline: 1px solid red;
// }

/*===== FONTS =====*/
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
}

html,
body {
	height: 100%;
	background-color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	font-size: 16px;
	line-height: 24px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.page {
	max-width: 1600px;
	// min-height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.main {
	max-width: 1600px;
	min-height: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1111px;
	margin: 0 auto;
}

/*===== HEADER =====*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	max-width: 1600px;
	width: 100%;
	min-height: 100px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
}

.header-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.header__logo {
	img {
		max-width: 100%;
		display: block;
	}
}

.header__menu {
	display: flex;
	align-content: center;
}

.header__list {
	list-style: none;

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		position: relative;
		margin: 0 0 0 18px;
		text-decoration: none;
		font-family: Montserrat;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}
}

.header__link {
	&::before {
		content: "";
		display: block;
		bottom: -220%;
		left: 0;
		position: absolute;
		width: 0;
		height: 5px;
		background-color: #b88b58;
		transition: width 0.3s ease-in-out;
	}
}

.header__link {
	&:hover {
		&::before {
			width: 100%;
		}
	}
}

/*===== HOME =====*/

.home {
	height: 850px;
	background-size: cover;
}

.home__content {
	margin: 0 auto 0;
	text-align: center;
}

.phone-num {
	margin-top: 29px;
	p {
		font-family: Montserrat;
		font-size: 24px;
		line-height: 18px;
		font-weight: 600;
		text-transform: uppercase;
		color: #ffffff;

		a {
			text-decoration: none;
			color: #ffffff;
		}
	}
}

.home-btn {
	margin-top: 49px;

	width: 194px;
	height: 45px;
	background-color: #b88b58;
	outline: none;
	border-radius: 20px;
	cursor: pointer;

	span {
		font-family: Montserrat;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&:active {
		background-color: #000000;
	}
}

.home__title {
	padding-top: 346px;
	p {
		font-family: Montserrat;
		font-size: 72px;
		line-height: 69px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	span {
		color: #b88b58;
	}
}

/*===== SLIDER =====*/

.slider {
	position: relative;
	&-dots {
		position: absolute;
		left: 5%;
		bottom: 5%;
		width: 90%;
		// margin: 186px auto 0;
		margin: 0 auto;
		// margin-top: 20px;
		display: flex;
		justify-content: center;
		.dot {
			cursor: pointer;
			height: 12px;
			width: 12px;
			margin: 0 10px;
			background-color: transparent;
			border: 1px solid #b88b58;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
			&-active {
				background-color: #b88b58;
				// height: 18px;
				// width: 18px;
			}
		}
	}
}

.slider-item {
	height: 850px;
	background-size: cover;
	background-position: center;
}

/*===== ABOUT =====*/

.about {
	background-color: #ffffff;
	position: relative;
	z-index: 10;

	h2 {
		font-family: Montserrat;
		font-size: 30px;
		line-height: 30px;
		font-weight: 600;
		text-transform: uppercase;
		color: #000000;
	}

	p {
		font-size: 14px;
		color: #aeaeae;
	}
}

.callback-btn {
	position: relative;

	width: 65px;
	height: 65px;
	background-color: #b88b58;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 1, 0.23);
	border-radius: 100%;

	a {
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&:hover {
		background-color: #000000;
	}
}
.callback-btn-wrap {
	position: absolute;
	top: -8%;
	right: 5%;
}

.price__title,
.about__title {
	margin: 0 auto 0;
	padding-top: 63px;
	text-align: center;
}

.about__content {
	margin: 55px auto 79px;
	display: flex;
	justify-content: space-between;
}

.about__content-text {
	p {
		max-width: 634px;
		font-family: Montserrat;
		font-size: 14px;
		line-height: 25px;
		font-weight: 300;
		color: #242424;
	}
}

.about-btn {
	margin-top: 34px;

	width: 194px;
	height: 45px;
	background-color: #b88b58;
	outline: none;
	border-radius: 20px;
	cursor: pointer;

	span {
		font-family: Montserrat;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&:active {
		background-color: #000000;
	}
}

.about__content-video {
	img {
		width: 445px;
		height: 275px;
		box-shadow: 0px 13px 24px 0px rgba(0, 0, 1, 0.41);
	}
}

.modal__callback-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);

	display: flex;

	align-items: center;

	justify-content: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;

	transition: all 0.3s ease-in-out;
}

.modal-1 {
	background-color: #fff;
	width: 350px;
	height: 331px;

	display: flex;

	align-items: center;

	justify-content: center;
	display: block;
	border-radius: 5px;
}

.modal-3,
.modal-2 {
	width: 540px;
	height: 167px;
	background-color: #ffffff;
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 1, 0.2);

	display: flex;

	align-items: center;

	justify-content: center;
	display: block;
	border-radius: 5px;
}

.modal__callback-overlay--visible {
	opacity: 1;
	visibility: visible;

	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
}

.modal--hidden {
	display: none;
}

.callback__form {
	width: 350px;
	height: 331px;
	border-radius: 5px;

	background-color: #ffffff;
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 1, 0.2);
	text-transform: uppercase;
	color: #9e9e9e;
}

.callback__form-wrap {
	padding-top: 50px;
	padding-left: 64px;
	input {
		outline: 0;
		border: 0;
		border-bottom: 2px solid rgba(164, 164, 164, 0.87);
		width: 221px;
		font-family: Montserrat;
		font-size: 13px;
		line-height: 25px;
		font-weight: 300;
		text-transform: uppercase;
		color: #9e9e9e;
		padding-top: 30px;

		&:active {
			&:active {
				outline: 0;
				border: 0;
				border-bottom: 2px solid #000;
			}
		}
	}
}
.callback__form-btn {
	width: 194px;
	height: 45px;
	background-color: #b88b58;
	border-radius: 20px;
	text-align: center;
	margin: 52px auto;
	margin-left: 6%;
	outline: 0;
	border: 0;

	span {
		font-family: Montserrat;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&:active {
		background-color: #000000;
	}
}

.contact-done,
.callback-done {
	text-align: center;

	h2 {
		font-family: Montserrat;
		font-size: 20px;
		line-height: 36px;
		font-weight: 600;
		text-transform: uppercase;
		color: #aeaeae;
		padding-top: 32px;
		padding-bottom: 20px;
	}

	p {
		font-family: Montserrat;
		font-size: 14px;
		line-height: 36px;
		font-weight: 400;
		color: #aeaeae;
	}
}

/*===== PRICE =====*/
.price {
	height: auto;
	background-color: #ededed;
	border: 1px solid #cfcfcf;

	h2 {
		font-family: Montserrat;
		font-size: 30px;
		line-height: 30px;
		font-weight: 600;
		text-transform: uppercase;
		color: #000000;
	}

	p {
		font-size: 14px;
		color: #aeaeae;
	}
}

.price__content {
	margin-top: 45px;
	padding-bottom: 62px;
	display: flex;
	justify-content: space-between;

	&-item {
		width: 255px;
		height: 343px;
		background-color: #ffffff;

		&-title {
			margin-top: 31px;
			margin-bottom: 15px;
			text-align: center;
			p {
				font-family: Montserrat;
				font-size: 14px;
				line-height: 21px;
				font-weight: 400;
				text-transform: uppercase;
				color: #242424;
			}
		}

		&-cost {
			text-align: center;
			p {
				font-family: Montserrat;
				font-size: 30px;
				line-height: 21px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.16em;
				color: #242424;
			}

			span {
				letter-spacing: normal;
			}
		}

		&-month {
			text-align: center;
			// margin-bottom: 23px;
			p {
				font-family: Montserrat;
				font-size: 10px;
				line-height: 25px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: #aeaeae;
			}
		}

		&-issue {
			max-width: 125px;
			margin: 23px auto 28px;

			p {
				text-align: center;
				font-family: Montserrat;
				font-size: 10px;
				line-height: 13px;
				font-weight: 400;
				color: #7e7e7e;
			}
		}
	}
}

.price-btn {
	margin: 0 63px;

	width: 129px;
	height: 45px;
	border-radius: 20px;
	outline: none;
	background-color: #373737;
	cursor: pointer;

	span {
		font-family: Montserrat;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&:active {
		background-color: #b88b58;
	}
}

.contact {
	margin: 0 auto;
	// padding-top: 60px;
	background-color: #fff;
}

.contact__title {
	text-align: center;
	h2 {
		font-family: Montserrat;
		font-size: 30px;
		line-height: 30px;
		font-weight: 600;
		text-transform: uppercase;
		color: #000000;
	}

	p {
		font-size: 14px;
		color: #aeaeae;
	}
}

.contact__form {
	max-width: 540px;
	margin: 0 auto 55px;
	padding-top: 55px;
	margin-left: 32%;
	height: auto;

	input {
		width: 47%;
		outline: 0;
		border: 0;
		font-family: Montserrat;
		font-size: 13px;
		line-height: 25px;
		font-weight: 300;
		text-transform: uppercase;
		color: #9e9e9e;
		border-bottom: 2px solid rgba(164, 164, 164, 0.87);

		&:first-child {
			margin-right: 20px;
		}
		&[name="subject"] {
			width: 100%;
			margin-top: 71px;
		}

		&:active {
			outline: 0;
			border: 0;
			border-bottom: 2px solid #000;
		}
	}

	textarea {
		position: relative;
		width: 100%;
		outline: 0;
		border: 0;
		resize: none;
		height: 115px;
		font-family: Montserrat;
		font-size: 13px;
		line-height: 25px;
		font-weight: 300;
		text-transform: uppercase;
		color: #9e9e9e;
		border-bottom: 2px solid rgba(164, 164, 164, 0.87);

		&::placeholder {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.contact-btn {
	width: 194px;
	height: 45px;
	background-color: #b88b58;
	border-radius: 20px;
	text-align: center;
	margin: 52px auto;
	margin-left: 30%;
	outline: 0;
	border: 0;

	span {
		font-family: Montserrat;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&:active {
		background-color: #000;
	}
}

/*===== FOOTER =====*/
.footer {
	position: relative;
	max-width: 1600px;
	min-height: 262px;
	margin: 0 auto;
	padding-top: 32px;
	padding-bottom: 49px;
	background-color: #000;
	border: 1px solid #cfcfcf;
	color: #fff;
}

.socials {
	max-width: 267px;
	display: flex;
	justify-content: space-between;

	.socials-item {
		width: 33px;
		height: 33px;
		background-color: #373737;
		border-radius: 100%;
		position: relative;
		a {
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&:hover {
			background-color: #b88b58;
		}
	}
}

.footer-wrap {
	display: flex;
}

.footer-text {
	max-width: 352px;
	hyphens: auto;
	p {
		font-family: Montserrat;
		font-size: 12px;
		line-height: 21px;
		font-weight: 300;
		color: #7e7e7e;
	}
}

.aside {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	margin-right: 112px;
}

.copyright {
	padding-top: 57%;
	span {
		font-family: Montserrat;
		font-size: 14px;
		line-height: 25px;
		font-weight: 400;
		color: #ffffff;
	}
}

.scrollup-wrap {
	position: absolute;
	top: -13%;
	left: 5%;
}

.scrollup-btn {
	position: relative;
	width: 65px;
	height: 65px;
	background-color: #b88b58;
	border-radius: 100%;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 1, 0.23);

	a {
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&:hover {
		background-color: #000000;
	}
}

/*===== MEDIA =====*/

@media (max-width: 1224px) {
	.price__content {
		flex-wrap: wrap;
		justify-content: space-around;

		&-item {
			margin-bottom: 10px;
		}
	}
	.contact__form {
		margin: 0 auto 55px;
		padding-top: 55px;
	}
}
