/*Basic reset*/

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

/*===== FONTS =====*/
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
}

html,
body {
	height: 100%;
	background-color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	font-size: 16px;
	line-height: 24px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.page {
	max-width: 1600px;
	min-height: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1111px;
	margin: 0 auto;
}

/*===== HEADER =====*/
.header {
	// grid-area: header;
	min-height: 100px;
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
}

.header-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.header__logo {
	img {
		max-width: 100%;
		display: block;
	}
}

.header__menu {
	display: flex;
	align-content: center;
}

.header__list {
	list-style: none;

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		position: relative;
		margin: 0 0 0 18px;
		text-decoration: none;
		font-family: Montserrat;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}
}

.header__link {
	&::before {
		content: "";
		display: block;
		bottom: -220%;
		left: 0;
		position: absolute;
		width: 0;
		height: 5px;
		background-color: #b88b58;
		transition: width 0.3s ease-in-out;
	}
}

.header__link {
	&:hover {
		&::before {
			width: 100%;
		}
	}
}

.home {
	background-size: cover;
	background-position: center;
}

.home__content {
	margin: 246px auto 0;
	text-align: center;
}

.phone-num {
	margin-top: 29px;
	p {
		font-family: Montserrat;
		font-size: 24px;
		line-height: 18px;
		font-weight: 600;
		text-transform: uppercase;
		color: #ffffff;

		a {
			text-decoration: none;
			color: #ffffff;
		}
	}
}

.home-btn {
	margin-top: 49px;
	width: 194px;
	height: 45px;
	background-color: #b88b58;
	outline: none;
	border-radius: 20px;

	p {
		font-family: Montserrat;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&:active {
		background-color: #000000;
	}
}

.home__title {
	p {
		font-family: Montserrat;
		font-size: 72px;
		line-height: 69px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	span {
		color: #b88b58;
	}
}

.slider {
	margin-top: 186px;
	&-dots {
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		.dot {
			cursor: pointer;
			height: 14px;
			width: 14px;
			margin: 0 10px;
			background-color: #000;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
			&-active {
				background-color: #b88b58;
				// height: 18px;
				// width: 18px;
			}
		}
	}
}

.main {
	// grid-area: main;
}

.footer {
	min-height: 262px;
	background-color: #000;
	color: #fff;
}
.home {
	height: 850px;
	background-size: cover;
}
